#controls {
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	margin: 19px;
}

#controls * {
	margin: 5px;
	
}



#showTempo { 
	display: inline-block;
	width: 30px; 
}

canvas {
    border-style: solid;
}
